{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1>Offers</h1>
        </div>
        {% block createItem %}{% endblock %}
    </div>

    {% if offers %}
        <form action="{{ path('offers') }}" method="post">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select class="form-control" id="paymentMethod" name="paymentMethod">
                        {% for method in paymentMethods %}
                            <option>{{ method }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {#<div class="col-md-2">#}
                {#<div class="form-group">#}
                    {#<input type="text" class="form-control" id="owner" name="owner" placeholder="Owner">#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="minAmount" name="minAmount" placeholder="minAmount">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="maxAmount" name="maxAmount" placeholder="maxAmount">
                </div>
            </div>
            {#<div class="col-md-2">#}
                {#<div class="form-group">#}
                    {#<input type="text" class="form-control" id="price" name="price" placeholder="price">#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-1">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="submit" name="clear" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </div>
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Payment Method</th>
                <th scope="col">Owner</th>
                <th scope="col">Currency</th>
                <th scope="col">Margin</th>
                <th scope="col">Min-max amount</th>
                <th scope="col">Price per BTC</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.paymentMethod }}</td>
                    <td>{{ offer.owner.email }}</td>
                    <td>{{ offer.currency }}</td>
                    <td>{{ offer.margin }}%</td>
                    <td>{{ offer.minAmount }}&nbsp;-&nbsp;{{ offer.maxAmount }}</td>
                    <td><b>{{ currency.offerPrice(offer) }} {{  offer.currency }}</b></td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if offer.owner == app.user %}
                            <td>
                                <a href="{{ path('edit_offer', {'id': offer.id}) }}" class="btn btn-warning">Edit</a>
                            </td>
                        {% else %}
                            <td>
                                <form action="{{ path('buy_offer', {'id': offer.id}) }}" method="post">
                                    <input name="amount" type="text" placeholder="Amount in fiat" style="width: 100px"/>
                                    <button type="submit" class="btn btn-success">Buy</button>
                                </form>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No offers yet</h1>
    {% endif %}
{% endblock %}