{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="h3 mb-6 font-weight-normal">Create offer</h1>

        {{ form_start(form, {
            'name': 'my-form',
        }) }}

        {#{{ form_widget(form.type, {#}
            {#'attr': {'class': 'form-control col-md-6 ', 'placeholder': 'Type'}#}
        {#}) }}#}
        {#{{ form_errors(form.type) }}#}

        {{ form_widget(form.currency, {
            'attr': {'class': 'form-control col-md-6 ', 'placeholder': 'Type'}
        }) }}
        {{ form_errors(form.currency) }}

        {{ form_widget(form.minAmount, {
            'attr': {'class': 'form-control col-md-6',  'placeholder': 'minAmount'}
        }) }}
        {{ form_errors(form.minAmount) }}

        {{ form_widget(form.maxAmount, {
            'attr': {'class': 'form-control col-md-6',  'placeholder': 'maxAmount'}
        }) }}
        {{ form_errors(form.maxAmount) }}

        {{ form_widget(form.margin, {
            'attr': {'class': 'form-control col-md-6',  'placeholder': 'margin'}
        }) }}
        {{ form_errors(form.margin) }}

        {{ form_widget(form.paymentMethod, {
            'attr': {'class': 'form-control col-md-6',  'placeholder': 'paymentMethod'}
        }) }}
        {{ form_errors(form.paymentMethod) }}

        {{ form_widget(form.save, {
            'label': label,
            'attr': {'class': 'col-md-6 btn btn-lg btn-primary btn-block' }
        }) }}

        {{ form_end(form) }}
{% endblock %}
