<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Bitcoin Exchange</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('offers') }}">Offers</a>
            </li>
            {#<li class="nav-item active">#}
                {#<a class="nav-link" href="{{ path('offers', {'type': 'buy'}) }}">Sell</a>#}
            {#</li>#}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('dashboard_offers') }}">My offers</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('dashboard_trades') }}">My trades</a>
                </li>
            {% endif %}
        </ul>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h6 class=" mr-2 my-sm-0 text-light">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</h6>
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a class="my-2 my-sm-0"  href="{{ path('login') }}">Sing in</a>
            &nbsp;|&nbsp;
            <a class="my-2 my-sm-0"  href="{{ path('registration') }}">Registration</a>
        {% endif %}
    </div>
</nav>