{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1>Offers</h1>
        </div>
        <div class="col-md-2">
            <a href="{{ path('create_offer') }}" class="btn btn-success">Create offer</a>
        </div>
    </div>

    {% if offers %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Payment Method</th>
                <th scope="col">Currency</th>
                <th scope="col">Margin</th>
                <th scope="col">Min-max amount</th>
                <th scope="col">Price per BTC</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.paymentMethod }}</td>
                    <td>{{ offer.currency }}</td>
                    <td>{{ offer.margin }}%</td>
                    <td>{{ offer.minAmount }}&nbsp;-&nbsp;{{ offer.maxAmount }}</td>
                    <td><b>{{ currency.offerPrice(offer) }} {{  offer.currency }}</b></td>
                    <td>
                        <a href="{{ path('edit_offer', {'id': offer.id}) }}" class="btn btn-warning">Edit</a>
                        {% if offer.active %}
                            <a href="{{ path('offer_status', {'id': offer.id, 'status': 'inactive'}) }}"
                               class="btn btn-outline-danger">Deactivate</a>
                        {% else %}
                            <a href="{{ path('offer_status', {'id': offer.id, 'status': 'active'}) }}"
                               class="btn btn-outline-success">Activate</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No offers yet</h1>
    {% endif %}
{% endblock %}
