{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-10">
            <h1>Trades</h1>
        </div>
    </div>

    {% if trades %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Trade ID</th>
                <th scope="col">Partner</th>
                <th scope="col">Amount in fiat</th>
                <th scope="col">Amount in BTC</th>
                <th scope="col">Payment method</th>
                <th scope="col">Status</th>
                <th scope="col">Started at</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for trade in trades %}
                <tr>
                    <td>{{ trade.id }}</td>
                    <td>
                        {% if trade.seller == app.user %}
                            <p class="btn btn-danger">Sell</p>
                        {% else %}
                            <p class="btn btn-success">Buy</p>
                        {% endif %}
                    </td>
                    <td>{{ trade.seller.email }}</td>
                    <td>{{ trade.fiatAmount }}&nbsp;{{ trade.offer.currency }}</td>
                    <td>{{ trade.btcAmount }}&nbsp;BTC</td>
                    <td>{{ trade.offer.paymentMethod }}</td>
                    <td>{{ trade.status }}</td>
                    <td>{{ trade.createdAt|date('Y-m-d H:m') }}</td>
                    <td>
                        {% if trade.seller == app.user and trade.status == 'pending' %}
                            <a href="{{ path('accept_trade', {'id': trade.id}) }}"
                               class="btn btn-outline-success">Accept</a>
                            <a href="{{ path('cancel_trade', {'id': trade.id}) }}"
                               class="btn btn-outline-danger">Cancel</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No offers yet</h1>
    {% endif %}

{% endblock %}
