{% extends 'base.html.twig' %}

{% block body %}

    <form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

        <label for="username" class="sr-only">Email address</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"
               class="form-control" placeholder="Email address" autocomplete="username" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required autocomplete="current-password" >

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" >Sign in</button>
        <p class="mt-3 mb-3 text-muted">or <a href="{{ path('registration') }}">Register</a></p>
    </form>

{% endblock %}