{% extends 'base.html.twig' %}

{% block body %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {
        'name': 'my-form',
        'action': path('registration'),
        'attr': {'class': 'form-signin'}
    }) }}
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>

    {{ form_widget(form.email, {
        'attr': {'class': 'form-control col-md-12', 'placeholder': 'Email'}
    }) }}
    {{ form_errors(form.email) }}

    {{ form_widget(form.plainPassword, {
        'attr': {'class': 'form-control col-md-12',  'placeholder': 'Password'}
    }) }}
    {{ form_errors(form.plainPassword) }}

    <div class="col-md-12">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
